body {
    background-image: url(../images/search-bgi.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

input {
    border: none;
    border-bottom: 2px solid black;
    opacity: 1;
    background-image: url(../images/search-bgi.jpg);
    color: rgb(182, 169, 169);
}

#box {
    margin-top: 300px;
}

.results {
    height: auto;
    width: auto;
    position: relative;
}

.res {
    background-color: rgba(32, 63, 81, 0.4);
    color: rgb(117, 127, 128);
}

.res:hover {
    background-color: rgba(32, 63, 81, 1);
    color: rgb(134, 144, 145);
    cursor: pointer;
}

footer p {
    color: rgb(134, 144, 145);
}